<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <title>Formulario entrevistado</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pruebas Spring API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/vista/lista}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/vista/formulario}">Formulario</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <form th:action="@{/vista/formulario}" th:object="${inter}" method="post">
            <table>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Id</label>
                    <div class="col-6">
                        <input type="number" th:field="*{id}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></small>
                    </div>
                    </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">DNI</label>
                    <div class="col-6">
                        <input type="text" th:field="*{dni}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Nombre</label>
                    <div class="col-6">
                        <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Fecha Nacimiento</label>
                    <div class="col-6">
                        <input type="text" th:field="*{fechaNacimiento}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></small>
                    </div>
                </div>
                <div class="form-group row">
                        <label class="col-2 col-form-label">Telefono</label>
                        <div class="col-6">
                            <input type="number" th:field="*{telefono}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
                        </div>
                    </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Email</label>
                    <div class="col-6">
                        <input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <tr>
                        <td>
                            <input type="submit" value="crear inter" class="btn btn-dark" />
                        </td>
                    </tr>
                </div>

            </table>
        </form>
    </div>
</body>

</html>